body{
    font-family: "Parisienne", Papyrus;
}
#menu, #menu ul,#menu li{
    padding:0;
    margin:0;
}
#menu li{
    list-style: none;
    position: relative;
    width: 100px;
    height: 30px;
    padding: 0 20px;
    background-color: chartreuse;
    line-height: 30px;
    cursor: pointer;
}
#menu li a {
    text-decoration: none;
    color: fuchsia;
}
#menu li:hover{
    background-color: darkred;
}
#menu ul ul {
    position: absolute;
    top: 0;
    left: 140px;
    visibility:hidden;
}
#menu ul li:hover ul{
    visibility: visible;
}